@font-face{
    font-family: "Avenir";
    src: url("../Assets/_GlobalFont/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf");
    font-weight: 100;
}
@font-face{
    font-family: "Avenir";
    src: url("../Assets/_GlobalFont/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf");
    font-weight: 500;
}
@font-face{
    font-family: "Avenir";
    src: url("../Assets/_GlobalFont/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf");
    font-weight: 700;
}