@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/typography';



*, *:before, *:after {
    box-sizing: border-box;
}
body{
    margin: 0rem;
    font-family: Avenir;
    
}
.nav-bar{
    background-color: #323232;
    font-family: Avenir;
    display:flex;
    flex-direction: column;
    padding-top: 1rem;
    height: 5rem;
    

    @include tablet{
        flex-direction: row;
        padding-left: 2rem;
        font-weight: 100;
        &__tools{
          padding-right: 2rem;
        }
    }
    @include desktop{
        flex-direction: row;
        padding-left: 3.75rem; 
        li{
            font-size: 0.8rem;
            font-weight: 500;
        }
    }
    &__tiers{
        list-style-type: none;
        display: flex;
        // justify-content: space-evenly;
        font-size: 1rem;
        padding:0rem;
        font-weight: 100;
        
        li{
         text-align: center;
         width:100%;
         
         @include tablet{
             margin-left: 3.5rem;
         }
        }

        .navlinks{
            text-decoration: none;
            color: $pry-color;
        }
        
    }
}
.nav-bar__tiers--active{
    border-bottom: 5px solid $pry-color;
    width: 50%;
    // padding-bottom: 1rem;
    padding-bottom: 0.1rem;
    @include tablet{
        padding-bottom: 1.5rem;
        
    }
    @include desktop{
        padding-bottom: 1.8rem;
    }
}
.container{
  
    // background-image: url(../Assets/Images/luuk-wouters-2rxgWHby5mo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 11.45rem;
    color: $pry-color;
    font-family: Avenir;
    font-size: 2rem;
    padding-top: 3rem;
    padding-left: 1rem;
    filter: grayscale(100%);
    @include tablet{
        height: 25rem;
        padding-top: 5rem;
        padding-left: 1.5rem;
        font-size: 5rem;
    }
    @include desktop{
        height: 41.87rem;
        padding-left: 3.75rem; 
        padding-top: 12rem;
        font-size: 5rem;
        .text{
            width: 70%;
        }
    }
}
.container:hover{
    filter: grayscale(0%);
}
.page1-container{
    background-image: url(../Assets/Images/luuk-wouters-2rxgWHby5mo-unsplash.jpg);
    
}
.page2-container{
    background-image: url(../Assets/Images/Photo-gallery-4.jpg) ;
    height: 29rem;
    background-size: cover;
    @include tablet{
        height: 41.88rem;
    }
    @include desktop{
        height: 41.88rem;
    }
}
.meet{
    padding-left: 1rem;
    font-family: Avenir;
    color: #323232;

    &__artists{
        font-weight: 700;
        color: #323232;
        font-size: 1.5rem;

        @include tablet{
            font-size: 3rem;
        }

        @include desktop{
            font-size: 3rem;
        }
    }
    &__image{
        width: 18rem;
        height: 150px;
        filter: grayscale(100%);
        padding-bottom: 1rem;

        @include tablet{
            width: 45rem;
            height: 22.63rem;
        }

        @include desktop{
            width: 56rem;
            height: 28.13rem;
            margin-left: 4rem; 
        }
    }
    &__image:hover{
        filter: grayscale(0%);
    }
    &__quote{
        font-weight: 500;

        @include tablet{
            font-size: 1.7rem;
        }
    }

    &__background-info{
        font-weight: 100;
        display: flex;
        flex-direction: column;
        padding-bottom: 2.5rem;

        @include tablet{
            flex-direction: row;
            padding-bottom: 1.5rem;
            
        }

        @include desktop{
            flex-direction: row;
            padding-bottom: 3rem;
        }
    }

    &__def{
        font-weight:100;
        
        @include tablet{
            padding-right: 24px;
        }
        @include desktop{
            padding-right: 40px;
        }
    }

@include tablet{
      @include tablet-padding;
     }

@include desktop{
        @include desktop-padding;
     }
}
.gallery{
    background-color: #FAFAFA;
    font-family: Avenir;
    font-weight: 700;
    &__header{
        font-size: 2rem;
       
        padding-top: 2rem;
        margin: 0rem;
        color: #323232;

        @include tablet{
            font-size: 2.2rem;
            padding-bottom: 2.5rem;
        }
        @include desktop{
            padding-bottom: 4rem;
            padding-top: 3rem;
            font-size: 3rem;
          
        }
        
    }
    &__images{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2.5rem;

        @include tablet{
            @include row-wrap;
        }  
        @include desktop{
            @include row-wrap;
            max-width: 1300px;
        }  
    }
    &__divider{
       padding-top: 1.5rem;
        width:288px;
        filter: grayscale(100%);

        @include tablet{
            width: 224px;
            height: 126px;
           padding-left: 1.5rem;
        }

        @include desktop{
            width: 344px;
            height: 193px;
           padding-left: 1.5rem;
        }

    }
    &__divider:hover{
        filter: grayscale(0%);
    }
@include tablet{
    @include tablet-padding;
    }
@include desktop{
       @include desktop-padding;
    }
}



.parent-tester{
    display:flex;
    flex-direction: row;
    // padding-right: 1rem;

}
// .tester{
//     padding-right: 1rem;
// }
.comments{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2.5rem;
    &__avatar{
        @include avatar;
        margin-right: 0.5rem;
    }
    
    &__heading{
        color: $base-color;
        font-size: 1.7rem;
        // margin-bottom: 2.5rem;
        padding-bottom: 2.5rem;
        margin-bottom: 1rem;
    }
    &__time-stamp{
        color: $silver;
    }
    &__opinion{
        font-weight: 100;
    }
}

input{
    padding: 0.5rem;
    font-size: 1.2rem;
}


label{
    display: block;
    color: $silver;
    font-size: 1rem;
    font-weight: 500;
}
::placeholder{
    color: $base-color;
    font-family: Avenir;
    font-size: 1rem;
}
.comment__button{
    background-color:$base-color;
    color: #FFFFFF;
    border: 0;
    border-radius: 6px;
    height: 4rem;
    width: 18rem;
    font-size: 1rem;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;

}
.border-separator{
    border-bottom: 1px solid #E1E1E1;
    
}

.comments__avatar{
    background-color: $silver;
    @include avatar;
}

.comments__box{
    display:flex;
    flex-direction: column;
}



















.contact{
    background-color: #323232;
    color: $pry-color;
    font-family: Avenir;
    padding-left: 1rem;
    margin: 0rem;    
    &__info{
        display: flex;
        flex-direction: column;
        font-weight: 100;

        @include tablet{
            flex-direction: row;
        }

        @include desktop{
            flex-direction:row;
        }
    }
    &__profile{
        @include tablet{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @include desktop{
            width: 100%;
            display: flex;
            flex-direction: space-evenly;
        }
    } 
    h3{
        font-size: 2rem;
        padding-top: 2rem;
        margin-bottom: 1.2rem;
        margin-top: 0rem;
    }

    &__name{
        margin-bottom: 0rem;
        font-weight: 500;
        line-height: 22px;
        text-size-adjust: 24px;
    }
    &__agency{
        margin-top: 0rem;
        font-weight: 500;
        
    }
    &__address{
        font-weight: 100;
    }
    &__email{
        font-weight: 100;
        text-decoration: none;
        color: $pry-color;
    }
    &__biko{
        @include tablet{
            display: flex;
            justify-content: space-around;

        }
    }
    @include tablet{
       @include tablet-padding;
    }
    
    @include desktop{
        @include desktop-padding;
        font-size: 1rem;
    }  
    &__copyright{
        @include mobile{
            padding: 0rem;
            margin:0rem;
        }
    }
    &__space{
        @include tablet{
            padding-left: 1rem;
        }
    }
}
.socials{
    padding-bottom: 1rem;
    &__icon{
        padding-right: 2rem;
        @include tablet{
            vertical-align: bottom;
            justify-self: baseline;
        }
    }

}
.display__logo{
    display: none;
@include tablet{
    display: flex;
}
}
.reach-us{
    width: 100%;
    @include tablet{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    }
    @include tablet{
       .socials{
        padding-top: 2.5rem;
        padding-right: 6rem;
        
       }
    }
    @include desktop{
        .socials{
        padding-top: 2.5rem;
        padding-right: 30rem;

    }
}
}
.linkstyle{
    @include mobile{
        padding-left: 6.5rem;
    }
    @include tablet{
        padding-top: 1rem;
    }
    @include desktop{
        padding-top: 1rem;
    }

}

