@import './variables';



@mixin mobile{
    @media screen and (min-width: $mobile-breakpoint){
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint){
        @content;
    }
    
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
    
}

@mixin row-wrap{
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin tablet-padding{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@mixin desktop-padding{
    padding-left: 3.75rem; 
    padding-right: 3.75rem; 
}
@mixin avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 35px;
}