@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/typography";

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0rem;
  font-family: Avenir;
}
.nav-bar {
  background-color: $base-color;
  @include column-flex;
  padding-top: 1rem;
  height: 5rem;

  @include tablet {
    flex-direction: row;
    padding-left: 2rem;
    font-weight: 100;
    &__tools {
      padding-right: 2rem;
    }
  }

  @include desktop {
    flex-direction: row;
    padding-left: 3.75rem;
    li {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  &__tiers {
    list-style-type: none;
    display: flex;
    font-size: 1rem;
    padding: 0rem;
    font-weight: 100;

    li {
      text-align: center;
      width: 100%;

      @include tablet {
        margin-left: 3.5rem;
      }
    }

    .navlinks {
      text-decoration: none;
      color: $pry-color;
    }
  }
}
.nav-bar__tiers--active {
  border-bottom: 5px solid $pry-color;
  width: 50%;
  padding-bottom: 0.1rem;
  @include tablet {
    padding-bottom: 1.5rem;
  }
  @include desktop {
    padding-bottom: 1.8rem;
  }
}
.container {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 11.45rem;
  color: $pry-color;
  font-size: 2rem;
  padding-top: 3rem;
  padding-left: 1rem;

  @include tablet {
    height: 25rem;
    padding-top: 5rem;
    padding-left: 1.5rem;
    font-size: 5rem;
  }

  @include desktop {
    height: 41.87rem;
    padding-left: 3.75rem;
    padding-top: 12rem;
    font-size: 5rem;
    .text {
      width: 70%;
    }
  }
}

.page1-container {
  background-image: url(../Assets/Images/luuk-wouters-2rxgWHby5mo-unsplash.jpg);
}

.page2-container {
  background-image: url(../Assets/Images/yannis-papanastasopoulos-yWF2LLan-_o-unsplash.jpg);
  @extend .container;
  width: 100%;
  height: fit-content;
  background-size: cover;
  background-position: center;
  @include desktop {
    padding-top: 10rem;
  }
}

.meet {
  @include center-page;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #323232;

  &__artists {
    font-weight: 700;
    color: #323232;
    font-size: 1.5rem;

    @include tablet {
      font-size: 2rem;
      margin-right: 24rem;
    }

    @include desktop {
      font-size: 2rem;
      margin-right: 28rem;
    }
  }

  &__image {
    width: 18rem;
    height: 150px;
    filter: grayscale(100%);
    padding-bottom: 1rem;

    @include tablet {
      width: 45rem;
      height: 22.63rem;
    }

    @include desktop {
      width: 56rem;
      height: 28.13rem;
      margin-left: 4rem;
    }
  }

  &__image:hover {
    filter: grayscale(0%);
  }

  &__quote {
    font-weight: 500;

    @include tablet {
      font-size: 1.7rem;
    }
  }

  &__background-info {
    font-weight: 100;
    @include column-flex;
    padding-bottom: 2.5rem;

    @include tablet {
      flex-direction: row;
      padding-bottom: 1.5rem;
    }

    @include desktop {
      flex-direction: row;
      padding-bottom: 3rem;
    }
  }

  &__def {
    font-weight: 100;
    @include tablet {
      padding-right: 24px;
    }
    @include desktop {
      padding-right: 40px;
    }
  }

  @include tablet {
    @include tablet-padding;
  }

  @include desktop {
    @include desktop-padding;
  }
}

.gallery {
  background-color: #fafafa;
  font-weight: 700;
  &__header {
    font-size: 2rem;
    padding-top: 2rem;
    margin: 0rem;
    color: $base-color;

    @include tablet {
      font-size: 2.2rem;
      padding-bottom: 2.5rem;
    }

    @include desktop {
      padding-bottom: 4rem;
      padding-top: 3rem;
      font-size: 3rem;
    }
  }

  &__images {
    @include column-flex;
    align-items: center;
    padding-bottom: 2.5rem;

    @include tablet {
      @include row-wrap;
    }
    @include desktop {
      @include row-wrap;
      max-width: 1300px;
    }
  }

  &__divider {
    padding-top: 1.5rem;
    width: 288px;
    filter: grayscale(100%);

    @include tablet {
      width: 224px;
      height: 126px;
      padding-left: 1.5rem;
    }

    @include desktop {
      width: 344px;
      height: 193px;
      padding-left: 1.5rem;
    }
  }

  &__divider:hover {
    filter: grayscale(0%);
  }

  @include tablet {
    @include tablet-padding;
  }

  @include desktop {
    @include desktop-padding;
  }
}

.parent-tester {
  @include row-flex;
}

.comments {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 2.5rem;
  @include center-page;

  &__avatar {
    @include avatar;
    margin-right: 0.5rem;
  }

  &__heading {
    color: $base-color;
    font-size: 1.7rem;
    align-self: flex-start;
    padding-bottom: 2.5rem;
    margin-bottom: 1rem;
  }

  &__carrier {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    @include tablet {
      justify-content: flex-start;
    }
  }

  &__name {
    margin: 0;
  }

  &__time-stamp {
    margin: 0;
    font-weight: 100;
    color: $silver;
    @include tablet {
      margin-left: 1rem;
    }
  }

  &__opinion {
    font-weight: 100;
    @include tablet {
      margin-right: 8.5rem;
      margin-top: 0.3rem;
      width: 33rem;
    }
    @include desktop {
      margin-right: 31rem;
    }
  }

  &__avatar {
    background-color: $silver;
    // margin-top: 1.5rem;
    object-fit: cover;
    @include avatar;
  }

  &__box {
    @include column-flex;
  }

  &__button {
    background-color: $base-color;
    color: #ffffff;
    border: 0;
    border-radius: 6px;
    height: 4rem;
    width: 100%;
    font-size: 1rem;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    @include tablet {
      width: 10rem;
      height: 3rem;
      margin-left: 27.5rem;
    }
  }

  @include tablet {
    @include tablet-padding;
  }

  @include desktop {
    @include desktop-padding;
  }
}

//form inputs, label, textarea
input {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  @include tablet {
    width: 37.5rem;
  }
}

textarea {
  font-size: 1.2rem;
  padding: 0rem;
  @include tablet {
    width: 37.5rem;
  }
}

label {
  display: block;
  color: $silver;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
::placeholder {
  color: $base-color;
  font-size: 1rem;
}

.parentTester2 {
  display: flex;
  margin-top: 1.5rem;
  border-bottom: 2px solid #e1e1e1;
}
.parentTester2:first-child {
  border-top: 2px solid #e1e1e1;
}

.contact {
  background-color: #323232;
  color: $pry-color;
  font-family: Avenir;
  padding-left: 1rem;
  margin: 0rem;
  &__info {
    display: flex;
    flex-direction: column;
    font-weight: 100;

    @include tablet {
      flex-direction: row;
    }

    @include desktop {
      flex-direction: row;
    }
  }
  &__profile {
    @include tablet {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @include desktop {
      width: 100%;
      display: flex;
      flex-direction: space-evenly;
    }
  }
  h3 {
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 1.2rem;
    margin-top: 0rem;
  }

  &__name {
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 22px;
    text-size-adjust: 24px;
  }
  &__agency {
    margin-top: 0rem;
    font-weight: 500;
  }
  &__address {
    font-weight: 100;
  }
  &__email {
    font-weight: 100;
    text-decoration: none;
    color: $pry-color;
  }
  &__biko {
    @include tablet {
      display: flex;
      justify-content: space-around;
    }
  }
  @include tablet {
    @include tablet-padding;
  }

  @include desktop {
    @include desktop-padding;
    font-size: 1rem;
  }
  &__copyright {
    @include mobile {
      padding: 0rem;
      margin: 0rem;
    }
  }
  &__space {
    @include tablet {
      padding-left: 1rem;
    }
  }
}
.socials {
  padding-bottom: 1rem;
  &__icon {
    padding-right: 2rem;
    @include tablet {
      vertical-align: bottom;
      justify-self: baseline;
    }
  }
}
.display__logo {
  display: none;
  @include tablet {
    display: flex;
  }
}
.reach-us {
  width: 100%;
  @include tablet {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @include tablet {
    .socials {
      padding-top: 2.5rem;
      padding-right: 6rem;
    }
  }
  @include desktop {
    .socials {
      padding-top: 2.5rem;
      padding-right: 30rem;
    }
  }
}
.linkstyle {
  @include mobile {
    padding-left: 6.5rem;
  }
  @include tablet {
    padding-top: 1rem;
  }
  @include desktop {
    padding-top: 1rem;
  }
}
