@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/typography';

*, *:before, *:after {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Avenir;
    
}

.hero{
    @include desktop{
     display: flex;
     justify-content: space-between;
     &__content{
        width: 50%;
        margin-right: 64px;
        margin-bottom: 3rem;

    } }
    
    &__music{
        width: 100%;
        @include tablet{
            width: 50%;
        }
        @include desktop{
            width: 27.25rem;
            height: 9.13rem;
            margin-top: 4.5rem;
        }
    }
}

.text__paragraph{
    font-size: 1rem;
}

.text__label{
    font-size: 2.5rem;
    padding-bottom: 4rem;
    @include tablet{
        font-size: 3rem;
        padding-right: 18rem;
    }
    @include desktop{
        padding-right: 3rem;
        // margin-right: 0rem;
        
    }
}

.shows{
    font-weight: 500; //info,date,building,venue,location,city
    padding-left: 16px;
    padding-right: 16px;
 
    &__heading{
        margin-top: 32px;
        color: $base-color;
        margin-bottom: 0rem;
        font-size: 2rem;
    }
    &__info{
        color: $silver;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }
    &__date{
        font-size: 1.2rem;
        font-weight: 500;
        @include shows-margin;
        @include tablet{
            font-size: 1rem;
            width: 25%;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
           
           
        }
    }
    &__building{
        color: $silver;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }
    &__venue{
        font-weight: 100;
       @include shows-margin;
       @include tablet{
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        margin-right: 1.2rem;
        width: 25%;
       }
    }
    &__site{
        color: $silver;
        margin-top: 0rem;
    }
    &__city{
        font-weight: 100;
        margin-top: 0rem;
        margin-bottom: 2rem;
        @include tablet{
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            margin-right: 1.2rem;
            width: 25%;

        }
    }
    &__buy-button{
        height: 3rem;
        width: 18rem;
        background-color: $base-color;
        color: #ffffff;
        font-size: 1rem;
        border: 0;
        border-radius: 6px; 
        @include tablet{
            width: 12rem;
            margin-top: .7rem;
            margin-bottom: 1rem;
            height: 3rem;
        }
    }
    &__buy-button:last-child{
        margin-bottom: 1rem;
    }

    &__area{
        border-bottom: 2px solid $silver;
        @include column-flex;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
        }
        @include desktop{
          width: 50.25rem;
        }
    }

    &__tabletcategories{
        display: none;
        @include tablet{
            @include row-flex;
            list-style-type: none;
            justify-content: space-between;
            padding: 0rem;
            padding-left: 0rem;
            margin-right: 18rem;
            color: $silver;
        }

        @include desktop{
            margin-right: 37rem;
        }
    }
        @include tablet{
        &__info{
            display: none;
            
        }
        &__building{
            display: none;
        }
        &__site{
            display:none;
        }
    }

@include tablet{
        @include tablet-padding;
       }
  
@include desktop{
          @include desktop-padding;
       } 


}

.shows__tester{
    // display: flex;
    // flex-direction: column;
    display: block;
}
